@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
.col {
    margin-top: -200px !important;
}

.product_quantity {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    h5 {
        margin: 0px 10px;
    }
    span {
        cursor: pointer;
    }
}