.listAll_container {
    margin-top: 50px;
    h2 {
        text-align: center;
    }
    .main_image {
        width: 90%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
}