.modal-body-container {
    display: flex;
    margin-top: 20px;

    .category {
        width: 20%;
        display: block;
        padding-left: 50px;

        p {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .search-render {
        width: 70%;

        .search-food-container {
            display: grid;
            padding: 20px;
            grid-template-columns: 400px 400px;
            gap: 10px;

            .food-container {
                display: flex;
                gap: 10px;

                .food-image {
                    cursor: pointer;
                    width: 100px;

                    img {
                        width: 100%;
                    }
                }

                .food-infor {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.search-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    position: relative;
    top: 0px;
}

.search-btn {
    position: absolute;
    top: 0px;
    left: -4px;
}

.input-search {
    border: 1px solid black;
    // width: 1000px;
    outline: none;
    padding: 10px;
}